@font-face {
  font-family: hawaiianPunk;
  src: url(../../fontSelection/hawaiian-punk.regular.ttf);
}

@font-face {
  font-family: blacklisted;
  src: url(../../fontSelection/Blacklisted.ttf);
}

@font-face {
  font-family: yellosun;
  src: url(../../fontSelection/yellosun.ttf);
}

@font-face {
  font-family: charlinda;
  src: url(../../fontSelection/charlinda.ttf);
}

@font-face {
  font-family: revamped;
  src: url(../../fontSelection/Revamped.otf);
}

@font-face {
  font-family: hunter;
  src: url(../../fontSelection/Hunters.otf);
}

@font-face {
  font-family: badaboom;
  src: url(../../fontSelection/Badaboom.TTF);
}

@font-face {
  font-family: inversionz;
  src: url(../../fontSelection/Inversionz.ttf);
}

@font-face {
  font-family: KGDefyingGravity;
  src: url(../../fontSelection/KGDefyingGravity.ttf);
}

@font-face {
  font-family: KindHeart;
  src: url(../../fontSelection/KindHeart.otf);
}

@font-face {
  font-family: SweetHipster;
  src: url(../../fontSelection/SweetHipster.ttf);
}

@font-face {
  font-family: CrowdPlease;
  src: url(../../fontSelection/CrowdPlease.otf);
}

@font-face {
  font-family: bebas;
  src: url(../../fontSelection/Bebas.ttf);
}

@font-face {
  font-family: HollywoodCapital;
  src: url(../../fontSelection/HollywoodCapital.ttf);
}

@font-face {
  font-family: HoleHearted;
  src: url(../../fontSelection/Hole-Hearted.ttf);
}

@font-face {
  font-family: HarryPotter;
  src: url(../../fontSelection/HarryPotter.TTF);
}

@font-face {
  font-family: SundayBest;
  src: url(../../fontSelection/SundayBest.ttf);
}

@font-face {
  font-family: Killarney;
  src: url(../../fontSelection/Killarney.ttf);
}

.Killarney {
  font-family: Killarney;
  font-size: 20px;
}

.SundayBest {
  font-family: SundayBest;
  font-size: 12px;
}

.HarryPotter {
  font-family: HarryPotter;
  font-size: 22px;
}

.HoleHearted {
  font-family: HoleHearted;
  font-size: 20px;
}

.HollywoodCapital {
  font-family: HollywoodCapital;
  font-size: 20px;
}

.bebas {
  font-family: bebas;
  font-size: 22px;
}

.CrowdPlease {
  font-family: CrowdPlease;
  font-size: 25px;
}

.SweetHipster {
  font-family: SweetHipster;
  font-size: 25px;
}

.KindHeart {
  font-family: KindHeart;
  font-size: 14px;
}

.charlinda {
  font-family: charlinda;
  font-size: 15px;
}

.hawaiianPunk {
  font-family: hawaiianPunk;
  font-size: 18px;
}

.blacklisted {
  font-family: blacklisted;
  font-size: 15px;
}

.yellosun {
  font-family: yellosun;
  font-size: 24px;
}

.revamped {
  font-family: revamped;
  font-size: 16px;
}

.hunter {
  font-family: hunter;
  font-size: 28px;
}

.badaboom {
  font-family: badaboom;
  font-size: 20px;
}

.inversionz {
  font-family: inversionz;
  font-size: 20px;
}

.KGDefyingGravity {
  font-family: KGDefyingGravity;
  font-size: 25px;
}

.dropdownFont {
  width: 40%;
  height: 40px;
}

.container {
  border-radius: 25px;
  border: 0px;
  width: 40%;
  height: 40px;
  background-color: #e9f7ff;
  margin: 10px;
  align-items: center;
}

.inputField {
  width: 80%;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
}

.selected {
  background-color: #ffeff5;
}

.roundContainerPlus {
  border-radius: 20%;
  background-color: #e9f7ff;
  border: 0px;
  margin: 5px;
  padding: 5px;
}

.roundContainerMinus {
  border-radius: 20%;
  background-color: #ffeff5;
  border: 0px;
  margin: 5px;
  padding: 5px;
}

.roundContainer {
  border-radius: 20%;
  background-color: #e9f7ff;
  border: 0px;
  margin: 5px;
  padding: 5px;
}

.alertBox {
  background-color: #ffeff5;
  width: 80%;
  margin: 10px 0px 10px 0px;
  border: 1px dashed lightcoral;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
  font-weight: 400;
}

.contentDiv {
  display: contents;
  font-size: 18px;
}

.body {
  text-align: -webkit-center;
}

.title {
  font-size: 15px;
  font-family: SundayBest;
}
